@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Saira:wght@400&display=swap');

html {
    height: 100%;
    background-image: radial-gradient(#3a9633, #1e434a);
}



a, p, button {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Saira', sans-serif;
}

h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-size: 45px;
}



.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

    .flex-container > div {
        background-color: lightgray;
        margin: 10px;
        padding: 50px 50px 10px 50px;
        border: 2px solid black;
    }

    .flex-container > #currencyBox {
        width: 50px;
        height: 50px;
    }

    .flex-container > div > input, a {
        vertical-align: middle;
        display: inline-block;
    }



button {
    border: 1px solid black;
    margin: 10px;
    padding: 5px 15px 5px 15px;
}
    button:hover {
        background-color: #999999;
        color: white;
        opacity: 0.9;       
        transition: 0.7s;
    }

#switchButton:hover {
    transition: 0.5s;
    opacity: 0.5;
}
